/*Color pallette: 004ba8 - Deep blue
d6e9ff - lighter shade */

/* Begin Global Style */

body {
  font-family: "Raleway", sans-serif;
}

.shadow-text-sm {
  text-shadow: 2px 2px 2px #bebebe;
}

.shadow-text-lg {
  text-shadow: 4px 4px 8px #bebebe;
}

.shadow-text-lg-blu {
  text-shadow: 4px 4px 8px #004ba8;
}

/*Begin header styles*/

.header-box {
  background-color: #004ba8;
  font-family: "Raleway", sans-serif;
  color: #fff;
  display: flex;
  text-align: center;
  justify-content: center;
}

.htop {
  height: 132px;
  align-items: flex-end;
}

.hmid {
  height: 50px;
  align-items: center;
}

.hbtm {
  height: 100px;
  align-items: flex-start;
}

.header-box h1 {
  font-size: 48px;
  margin-top: 86px;
}

/*End header styles*/

/*Begin Navbar styles*/



.affix {
  top: 0;
  width: 100%;
  z-index: 10;
}

.affix + .main-container {
  padding-top: 52px;
}

.navbar-default .navbar-brand {
  font-family: "Permanent Marker", cursive;
  color: #fff;
  font-size: 24px;
}

.navbar-default .navbar-brand:hover {
  font-family: "Permanent Marker", cursive;
  color: #d6e9ff;
  font-size: 24px;
}


.clear-fix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
 }

.navbar-default {
  border: none;
  /*position: sticky;
  top: 0px;*/
  font-family: "Raleway", sans-serif;
}

.nav-container {
  background-color: #004ba8;

}

.navbar-default .navbar-nav>.active>a {
  background-color: #d6e9ff;
}

.navbar-default .navbar-nav>.active>a:hover {
  background-color: #d6e9ff;
}

.navbar-nav li {

}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  transition: 0.3s all;
  box-shadow: -3px -3px 3px #bbb;
  position: relative;
  margin-left: 20px;
  border: 1px solid #fff;
  margin-bottom: 3px;
}

.navbar-default .navbar-nav>li>a:active {
  bottom: 3px;
  right: 3px;
  box-shadow: none;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #d6e9ff;
  transition: 0.3s all;
}

.navbar-default .navbar-nav>.open>a:focus {
  background-color: #d6e9ff;
}

.dropdown-menu {
  background-color: #d6e9ff;
}

.nav-button:hover {
  background-color: #d6e9ff;
}


.navbar-default {
  color: #fff;
}

/*End Navbar styles*/

/* Begin Jumbotron Styles */

.jumbo-head {
  font-family: "Permanent Marker", cursive;
  font-size: 32px;
}

/* End Jumbotron Styles */

/* Begin Carousel Styles */

.caro-frame {
  background-color: #004ba8;
  padding: 5px 40px 40px 40px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  height: 100%;
}

.caro-img {
  border: 5px solid #000;
}

.carousel-caption p {
  color: #fff;
  font-variant: small-caps;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 24px;
}

.item {
  height: 512px;
}

.glyphicon-chevron-right, .glyphicon-chevron-left {
  color: #004ba8;

}

/* Media query to move indicators down on larger screens */

@media screen and (min-width: 768px){

  .carousel-indicators {
    bottom: 0px;
  }
}

/*Begin Thumbnail Styles */

.caption-text {
  font-size: 48px;
  font-family: "Raleway", sans-serif;
}

.blue-bar {
  height: 5px;
  width: 100%;
  background-color: #004ba8;
  margin-bottom: 25px;
}

.thumb-pic {

}

.thumbnail {
  box-shadow: 5px 5px 5px #bebebe;
}



/*End Thumbnail Styles */

/* Parallax styles */

.parallax-cont {
  padding-left: 0px;
  padding-right: 0px;
}

.parallax {
  min-height: 540px;
  background-image: url('../img/geekwise-2.JPG');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-2 {
  background-image: url('../img/mum-cast.jpg');
  min-height: 540px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* Begin contact styles */

.contact-flex > .fa {
  color: #004ba8;
  font-size: 48px;
  transition: 1s all;
}

.form-cont {
  width: 100%;
  height: 200px; /* CHANGE TO 100% WHEN FINISHED */
  background-color: #004ba8;

  box-shadow: 3px 3px 3px #bebebe;
}

.contact-row {
  border: 1px solid #bebebe;
  margin-bottom: 20px;
  box-shadow: 3px 3px 3px #bebebe;
  overflow: hidden;

}

.contact-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-right: 2px groove #bebebe;
  min-height: 100px;

}

.contact-flex:hover .fa {
  color: #82a1c7;
  transform: rotate(360deg);
}





/*.lucky-div {
  height: 100px;
  width: 100px;
  background-image: url(../img/lucky-grass-jpg.jpg);
  border-radius: 50%;
  background-position-x: 0px;
  background-position-y: -41px;
  position: absolute;
  top: 0px;
  left: 0px;
} */


/* Begin Footer Styles */

footer {
  font-family: "Raleway", sans-serif;
  color: #fff;

}

.footer-cont {
  height: 150px;

}

.footie-col {
  background-color: #004ba8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.vert-bar {
  height: 75px;
  width: 2px;
  background-color: #d6e9ff;
  transform: rotate(45deg);
}

.icon-flex {
  background-color: #004ba8;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-icon-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.footer-icon-box {
  border: 2px solid #fff;
  border-radius: 5%;
  height: 50px;
  width: 50px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 0px #888888;
  position: relative;
  overflow: hidden;

}

.footer-icon-box:hover .footer-shine {

    transform: skewX(20deg) translateX(200px);
  }
}

.footer-icon-box:active {
  box-shadow: none;
  left: 3px;
  top: 3px;
}

.icon-holder {
  height: 70px;
  width: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*.icon-row {
  height: 30px;
  display: flex;
  align-items: center;
}*/



.footer-shine {

  position: absolute;
  top: 0;
  left: -70px;
  height: 50px;
  width: 50px;
  background: rgba(255, 255, 255, 0.2);
  transition: all .3s linear;
  transform: skewX(20deg) translateX(0);

}


/*Media Queries*/
