/*Color pallette: 004ba8 - Deep blue
d6e9ff - lighter shade */

/* Z-index notes:

carousel-controles: 15
affix (nav): 20 */

/* Begin Global Style */

body {
  font-family: "Raleway", sans-serif;
}

.deep-blue-color {
  color: #004ba8
}

.deep-blue-bg {
  background-color: #004ba8;
}

.light-blue-bg {
  background-color: #d6e9ff;
}

.shadow-text-sm {
  text-shadow: 2px 2px 2px #bebebe;
}

.shadow-text-lg {
  text-shadow: 4px 4px 8px #bebebe;
}

.shadow-text-lg-blu {
  text-shadow: 4px 4px 8px #004ba8;
}

.grey-box-shadow {
  box-shadow: 3px 3px #bebebe;
}

/*Begin header styles*/

.header-box {
  color: #fff;
  display: flex;
  text-align: center;
  justify-content: center;
}

.htop {
  height: 132px;
  align-items: flex-end;
}

.hmid {
  height: 50px;
  align-items: center;
}

.hbtm {
  height: 100px;
  align-items: flex-start;
}

.header-box h1 {
  font-size: 48px;
  margin-top: 86px;
}

/*End header styles*/

/*Begin Navbar styles*/



.affix {
  top: 0;
  width: 100%;
  z-index: 20;
}

.affix + .main-container {
  padding-top: 52px;
}

.navbar-default .navbar-brand {
  font-family: "Permanent Marker", cursive;
  color: #fff;
  font-size: 24px;
}

.navbar-default .navbar-brand:hover {
  font-family: "Permanent Marker", cursive;
  color: #d6e9ff;
  font-size: 24px;
}


.clear-fix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
 }

.navbar-default {
  border: none;
}

.navbar-default .navbar-nav>.active>a {
  background-color: #d6e9ff;
}

.navbar-default .navbar-nav>.active>a:hover {
  background-color: #d6e9ff;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  transition: 0.3s all;
  box-shadow: -3px -3px 3px #bbb;
  position: relative;
  margin-left: 20px;
  border: 1px solid #fff;
  margin-bottom: 3px;
}

.navbar-default .navbar-nav>li>a:active {
  bottom: 3px;
  right: 3px;
  box-shadow: none;
}

.navbar-default .navbar-nav>li>a:focus {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #d6e9ff;
  transition: 0.3s all;
}

.navbar-default .navbar-nav>.open>a:focus {
  background-color: #d6e9ff;
}

.nav-button:hover {
  background-color: #d6e9ff;
}


.navbar-default {
  color: #fff;
}

/* Hamburger (yum) menu styles */

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

@media (max-width: 767px) {

    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
      color: #fff;
    }

}

/*End Navbar styles*/

/* Begin Jumbotron Styles */

.jumbo-head {
  font-family: "Permanent Marker", cursive;
  font-size: 32px;
}

/* End Jumbotron Styles */

/* Begin Well styles */

.well-lg > img {
  height: 75px;
  margin-right: 25px;
}

/* Begin Carousel Styles */

.caro-frame {
  padding: 5px 40px 40px 40px;
  color: #fff;
  height: 100%;
}

.caro-img {
  border: 5px solid #000;
}

.carousel-caption p {
  color: #fff;
  font-variant: small-caps;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 24px;
}

.item {
  height: 512px;
}

.glyphicon-chevron-right, .glyphicon-chevron-left {
  color: #004ba8;

}

/* Media query to move indicators down on larger screens */

@media screen and (min-width: 768px){

  .carousel-indicators {
    bottom: 0px;
  }
}

@media only screen and (min-width: 1200px) {
  .caro-frame, .carousel-inner {
    height: 630px;
  }
} /*Adjust height on carousel in lg view to make sure the frame shows on the bottom *


/* End Carousel Styles  */

/*Begin Services Styles */

.services-flex {
  display: flex;
  align-items: center;
}

.serv-question {
  padding-left: 15px;
  font-weight: 600;
}

.services-icons {
  font-size: 48px;
  padding-right: 30px;
  height: 100%;
  width: 71px;
}

.list-group-item h3 {
  text-shadow: 1px 1px 2px #bebebe;
}

/*End Services Styles */

/*Begin Thumbnail Styles */

.caption-text {
  font-size: 48px;
  margin-top: 25px;
}

.blue-bar {
  height: 5px;
  width: 100%;
  background-color: #004ba8;
  margin-bottom: 25px;
}


.thumbnail {
  box-shadow: 5px 5px 5px #bebebe;
}

.embed-responsive-item {
  width: 100%;
  height: 100%;
}


/*End Thumbnail Styles */

/* Parallax styles */

.parallax-cont {
  padding-left: 0px;
  padding-right: 0px;
}

.parallax {
  min-height: 540px;
  background-image: url('../img/geekwise-2.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-2 {
  background-image: url('../img/mum-cast.jpg');
  min-height: 540px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* Begin contact styles */

.contact-flex > .fa {
  color: #004ba8;
  font-size: 48px;
  transition: 1s all;
}

.form-cont {
  width: 100%;
  height: 200px; /* CHANGE TO 100% WHEN FINISHED */
}

.contact-row {
  border: 1px solid #bebebe;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  color: #000;
}

.contact-row:active {
  top: 3px;
  left: 3px;
  box-shadow: none;
}

.contact-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-right: 2px groove #bebebe;
  min-height: 100px;

}

.contact-flex:hover .fa {
  color: #82a1c7;
  transform: rotate(360deg);
}


/* Begin Footer Styles */

footer {
  color: #fff;

}

.footer-cont {
  height: 150px;

}

.footie-col {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.vert-bar {
  height: 75px;
  width: 2px;
  transform: rotate(45deg);
}

.icon-flex {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-icon-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.footer-icon-box {
  border: 2px solid #fff;
  border-radius: 5%;
  height: 50px;
  width: 50px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 0px #888888;
  position: relative;
  overflow: hidden;
}

.footer-icon-box:active {
  box-shadow: none;
  left: 3px;
  top: 3px;
}

.footer-shine {

  position: absolute;
  top: 0;
  left: -70px;
  height: 50px;
  width: 50px;
  background: rgba(255, 255, 255, 0.2);
  transition: all .3s linear;
  transform: skewX(20deg) translateX(0);
}

.footer-icon-box:hover .footer-shine {
  transform: skewX(20deg) translateX(200px);
}



/*Media Queries*/
